@model VistasPostAdd.ViewModel.RegisterVM
@{
    ViewData["Title"] = "PostAdd";
}

<div class="row">
    <div class="col-lg-12">
        <div class="registro">
            <span>Registrate gratis.</span>
            <div class="formulario">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <label asp-for="Nombre"></label>
                    <input asp-for="Nombre" id="Nombre" name="Nombre" placeholder="Nombre">
                    <span asp-validation-for="Nombre" class="text-danger"></span>

                    <label asp-for="Apellido"></label>
                    <input asp-for="Apellido" id="Apellido" name="Apellido" placeholder="Apellido">
                    <span asp-validation-for="Apellido" class="text-danger"></span>

                    <label asp-for="Email"></label>
                    <input asp-for="Email" id="Email" name="Email" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <label asp-for="Password"></label>
                    <input asp-for="Password" id="Password" name="Password" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" id="ConfirmPassword" name="ConfirmPassword" placeholder="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                    <input type="checkbox">Acepto los términos y condiciones.
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}