@{
    ViewData["Title"] = "PostAdd";
}

<div class="row">
    <div class="col-lg-12">
        <div class="registro">
            <span>Registrate gratis.</span>
            <div class="formulario">
                <form action="">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" placeholder="Nombre" required>
                    <label for="name">Apellido:</label>
                    <input type="text" id="lastname" placeholder="Apellido" required>
                    <label for="name">Correo:</label>
                    <input type="text" id="email" placeholder="Correo" required>
                    <label for="name">Contraseña:</label>
                    <input type="password" id="password" placeholder="Contraseña" required>
                    <input type="checkbox" id="terms">Acepto los términos y condiciones.
                    <input type="submit" id="btn-register" value="Enviar">
                </form>
            </div>
        </div>
    </div>
</div>