@{
    ViewData["Title"] = "PostAdd";
}

<div class="row">
    <div class="col-lg-12">
        <span id="r-title">Bienvenido a PostAdd, Registrate y se parte de este gran equipo.</span>
        <div class="registro">
            <span>Registrate gratis.</span>
            <div class="formulario">
                <form action="">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" placeholder="Nombre">
                    <label for="name">Apellido:</label>
                    <input type="text" id="lastname" placeholder="Apellido">
                    <label for="name">Correo:</label>
                    <input type="text" id="email" placeholder="Correo">
                    <label for="name">Contraseña:</label>
                    <input type="password" id="password" placeholder="Contraseña">
                    <input type="checkbox" id="terms">Acepto los términos y condiciones.
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
</div>