@model IEnumerable<PostAds.Models.Categoria>
@{
    ViewData["Title"] = "Usuarios";
}


<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-3 col-md-3" style="padding-left:0">
                <div class="admin">
                    <span>Categorias</span>
                    <ul>
                        <partial name="_IndexAdminPartial">
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="admin-root">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ads-blocked-page">
                                <span>Categorias</span>
                                <form asp-action="CreateCategoria" method="post">
                                    <input type="text" class="form-control" name="Categoria" value="" />
                                    <input type="submit" class="btn btn-primary" value="Crear Categoria" />
                                </form>
                                <div class="pre-scrollable" style="height:100vh">
                                    <table class="table">
                                        <tr>
                                            <th>Id</th>
                                            <th>Categoria</th>
                                            <th>Eliminar</th>
                                        </tr>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Nombre</td>
                                            <td><a class="btn btn-danger" asp-action="DeleteCategoria" asp-route-id="@item.Id">Eliminar</a></td>
                                        </tr>

                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

