@{
    ViewData["Title"] = "Dashboard";
    String vista = "_IndexAdminPartial";
}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-3 col-md-3" style="padding-left:0">
                <div class="admin">
                    <span>Menu Administrador</span>
                    <ul>
                       <li><a asp-action="Publicaciones">Publicaciones</a></li>
                       <li><a asp-action="Usuarios">Usuarios</a></li>
                       <li><a asp-action="Configuracion">Configuración</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="admin-root">
                    
                </div>
            </div>
        </div>
    </div>
</div>