
@{
    ViewData["Title"] = "Publicaciones";
}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4">
                <div class="admin">
                    <span>Administrador</span>
                    <ul>
                       <li><input type="submit" name="Publicaciones" value="Publicaciones" /></li>
                       <li><input type="submit" name="Usuarios" value="Usuarios" /></li>
                       <li><input type="submit" name="Configuracion" value="Configuracion" /></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="admin-root">
                    
                </div>
            </div>
        </div>
    </div>
</div>

