@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-3 col-md-3" style="padding-left:0">
                <div class="admin">
                    <span>Dashboard</span>
                    <ul>
                       <partial name="_IndexUserPartial">
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="admin-root">
                    <div class="row"> 
                        <div class="col-lg-6">
                            <div class="contador">
                                <span><i class="fa fa-plus-circle"></i> 5 Publicaciones</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contador">
                                <span><i class="fa fa-plus-circle"></i> <i class="fa fa-lock"></i> 5 Bloqueadas</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ads-blocked">
                                <span>Anuncios publicados</span>
                                <div class="pre-scrollable" style="height:100vh">
                                    <table class="table">
                                        <tr>
                                            <th>Id</th>
                                            <th>Titulo</th>
                                            <th>Precio</th>
                                            <th>Fecha</th>
                                            <th>Descripción</th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Pene</td>
                                            <td>2000</td>
                                            <td>12/12/2018 12:30:30</td>
                                            <td>Descripción del producto aquí...</td>
                                        </tr>
                                    </table>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
