@model PostAds.Models.AppUser
@{
    ViewData["Title"] = "Perfil";
}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-3 col-md-3" style="padding-left:0">
                <div class="admin">
                    <span>Perfil</span>
                    <ul>
                       <partial name="_IndexUserPartial">
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="admin-root">
                    <div class="row">
                        <div class="col-lg-12">
                            <form asp-action="UpdatePerfil" asp-route-id="@Model.Id" asp-controller="Usuario" method="post">
                                <div class="perfil">
                                    <span><i class="fa fa-user-o"></i> Fulanito de tal</span>
                                </div>
                                <div class="perfil-details">
                                    <div class="form-g">
                                        <div class="input-form">
                                            <label for="nombre">Nombre:</label>
                                            <input type="text" id="nombre" name="Nombre" value="@Model.Nombre" readonly disabled>
                                        </div>
                                        <div class="input-form">
                                            <label for="apellido">Apellido:</label>
                                            <input type="text" id="apellido" name="Apellido" value="@Model.Apellido" readonly disabled>
                                        </div>
                                    </div>
                                    <div class="input-form">
                                        <label for="correo">Correo:</label>
                                        <input type="text" id="correo" name="Email" value="@Model.Email" readonly disabled>
                                    </div>
                                    <div class="form-g">
                                        <div class="input-form">
                                            <label for="contrasenaa">Contraseña actual:</label>
                                            <input type="password" id="contrasenaa" name="Password" value="" readonly disabled>
                                        </div>
                                        <div class="input-form">
                                            <label for="contrasenan">Contraseña nueva:</label>
                                            <input type="password" id="constrasenan" name="NewPassword" value="" readonly disabled>
                                        </div>
                                    </div>
                                    <a href="#" id="btn-edit">Editar</a>
                                    <button type="submit" id="btn-edit-2" >Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


