@model PostAds.Models.Anuncio
@{
    ViewData["Title"] = "Detalle";
    var imgCount = Model.Imagen.Count;
    int num = 1;


}

<div class="row">
    <div class="col-lg-12">
        <div class="detalle">
            <div class="row">
                <div class="col-lg-8">


                    @if (imgCount == 1)
                    {
                        @foreach (var item in Model.Imagen)
                        {
                            <!-- Si es 1 sola imagen -->
                            <div class="img-detalle" style="background-image:url(../../images/Anuncios/@item.NombreArchivo)">
                                
                            </div>
                        }
                    }
                    else if (imgCount == 2)
                    {
                        <div class="img-detalle">
                        @foreach (var item in Model.Imagen)
                        {
                            <!-- Si es 2 sola imagen -->
                            
                            <div id="img-detalle-@num" style="background-image:url(../../images/Anuncios/@item.NombreArchivo)">
                            </div>
                            num++;
                        }
                        </div>
                    }
                    else if (imgCount == 3)
                    {
                        <div class="img-detalle">
                        
                        @foreach (var item in Model.Imagen)
                        {
                            <!-- Si es 3 sola imagen -->
                            
                            <div id="img-detalle-p-@num" style="background-image:url(../../images/Anuncios/@item.NombreArchivo)">
                            </div>
                            num++;
                        }
                        </div>
                    }

                </div>
                <div class="col-lg-4">
                    <div class="data-detalle">
                        <span class="t-data">Titulo:</span>
                        <span class="c-data">@Model.Titulo</span>
                        <span class="t-data">Precio:</span>
                        <span class="c-data">RD$ @Model.PrecioVenta</span>
                        <span class="t-data">Fecha:</span>
                        <span class="c-data">@Model.FechaPublicaccion.ToString("dd/MM/yyyy H:mm")</span>
                        <span class="t-data">Descripción:</span>
                        <span class="c-data">@Model.Descripcion</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>