@model IEnumerable<PostAds.Models.Anuncio>
@using Microsoft.AspNetCore.Identity
@using PostAds.Models

@{
    ViewData["Title"] = "PostAdd";
}

@inject UserManager<AppUser> UserManager
<div class="row">
    <div class="col-lg-12">
        <div id="banner"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <div class="col-lg-3">
                <div id="categorias">
                    <span>Buscar</span>
                    <input type="text" placeholder="Buscar">
                    <button>Buscar</button>
                    <span>Todas las categorías</span>
                    <ul>
                        <li><a href="#">Hogar</a></li>
                        <li><a href="#">Vehículos</a></li>
                        <li><a href="#">Moda y Belleza</a></li>
                        <li><a href="#">Derpotes y Entretenimiento</a></li>
                        <li><a href="#">Electrónica</a></li>
                        <li><a href="#">Negocios y servicios</a></li>
                        <li><a href="#">Otros</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                @* card para anuncio *@
                    @foreach (var item in Model)
                    {
                        var user = UserManager.Users.Where(x => x.Id == item.AppUserId).FirstOrDefault();
                        var img = item.Imagen.FirstOrDefault();

                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="post" style="background-image:url(../images/Anuncios/@img.NombreArchivo)">
                                <div class="post-info">
                                    <span>@item.Titulo</span>
                                    <span>RD$ @item.PrecioVenta</span>
                                    <p>@item.Descripcion</p>
                                    <a asp-action="Detalle" asp-controller="Home" asp-route-id="@item.Id">Ver más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                   }
            </div>
        </div>
    </div>
</div>