@using Microsoft.AspNetCore.Identity
@using PostAds.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <li>
        <a asp-area="" asp-controller="Administrador" asp-action="Index" title="Manage">Hello @user.Nombre @user.Apellido!</a>
    </li>
    <li>
        <a href="#" id="btn-logout">Logout</a>
    </li>
    <form asp-area="" asp-controller="Login" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
    </form> 
}
else
{
        <li><a asp-area="" asp-controller="Registro" asp-action="Index">Registrate</a></li>
        <li><a asp-area="" asp-controller="Login" asp-action="Index">Inicia sesion</a></li>
}
