
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <form action="">
            <div class="row">
                <div class="col-lg-6">
                    <div class="publicar-fotos">
                        <div class="drop-files">
                            <span>Agregar fotos</span>
                            <i class="fa fa-image"></i>
                            <button id="btn-upload">Subir desde el dispositivo</button>
                            <input 
                                type="file" 
                                name="fotos" 
                                id="files-upload" 
                                style="display:none;" 
                                multiple 
                                accept="image/*">
                        </div>  
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="publicar-descripcion">
                        <span>Datos del producto</span>
                        <label for="titulo">Título:</label>
                        <input type="text" id="titulo" placeholder="Título del producto">
                        <label for="precio">Precio:</label>
                        <input type="text" id="precio" placeholder="Precio del producto">
                        <label for="descripcion">Descripción del producto:</label>
                        <textarea id="descripcion" placeholder="Descripción del producto" style="padding:2%" cols="40" rows="5"></textarea>
                        <input type="submit" id="btn-send" value="Publicar producto">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>