
@model VistasPostAdd.ViewModel.AnuncioVM
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <form asp-action="Create" id="form-pub" method="post" enctype="multipart/form-data">
            <input type="file"
                    name="Imagen"
                    id="files-upload"
                    accept="image/*"
                    style="visibility:hidden"
                    multiple>
            <div class="row">
                <div class="col-lg-6">
                    <div class="publicar-fotos">
                        <div class="drop-files">
                            <span>Agregar fotos</span>
                            <i class="fa fa-image"></i>
                            <button id="btn-upload">Subir desde el dispositivo</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="publicar-descripcion">

                        <span>Datos del producto</span>
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <label asp-for="Titulo"></label>
                        <input asp-for="Titulo" id="Titulo" name="Titulo" placeholder="Título del producto">

                        <label asp-for="PrecioVenta"></label>
                        <input asp-for="PrecioVenta" id="PrecioVenta" name="PrecioVenta" placeholder="Precio del producto">

                        <label asp-for="Estado"></label>
                        <input asp-for="Estado" id="Estado" name="Estado" placeholder="Precio del producto">

                        <label asp-for="Descripcion"></label>
                        <textarea asp-for="Descripcion" id="Descripcion" name="Descripcion" placeholder="Descripción del producto" style="padding:2%" cols="40" rows="5"></textarea>

                        <input type="submit" id="btn-send" value="Publicar Articulo">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}